/* purgecss start ignore */
@tailwind  base;
@tailwind  components;
/* purgecss end ignore */
@tailwind  utilities;

.input {
    transition: border 0.2s ease-in-out;
    min-width: 280px
}

/* .input:focus+.label,
.input:active+.label,
.input.filled+.label {
    font-size: .75rem;
    transition: all 0.2s ease-out;
    top: -0.1rem;
    color: #667eea;
} */

.label {
    /* transition: all 0.2s ease-out; */
    top: 0.4rem;
      left: 0;
}

.toggle__dot {
    top: -.25rem;
    left: -.25rem;
    transition: all 0.3s ease-in-out;
}

.toggle__dot_red {
    top: -.25rem;
    left: -.25rem;
    transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
    transform: translateX(100%);
    background-color: #143CB4;
}

input:checked ~ .toggle__dot_red {
    transform: translateX(100%);
    background-color: #b60000;
}

.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}/* purgecss start ignore */
@tailwind  base;
@tailwind  components;
/* purgecss end ignore */
@tailwind  utilities;

.input {
    transition: border 0.2s ease-in-out;
    min-width: 280px
}

/* .input:focus+.label,
.input:active+.label,
.input.filled+.label {
    font-size: .75rem;
    transition: all 0.2s ease-out;
    top: -0.1rem;
    color: #667eea;
} */

.label {
    /* transition: all 0.2s ease-out; */
    top: 0.4rem;
      left: 0;
}

.toggle__dot {
    top: -.25rem;
    left: -.25rem;
    transition: all 0.3s ease-in-out;
}

.toggle__dot_red {
    top: -.25rem;
    left: -.25rem;
    transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
    transform: translateX(100%);
    background-color: #143CB4;
}

input:checked ~ .toggle__dot_red {
    transform: translateX(100%);
    background-color: #b60000;
}

.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}